@model IEnumerable<MST.Models.Albums>

@{
    ViewBag.Title = "Indexl";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Indexl</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.alABID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alAlbumsID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alBandID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alAlbumsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alPictureAlbums)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.alABID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alAlbumsID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alBandID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alAlbumsName)
        </td>
        <td>
            @if (item.alPictureAlbums != null)
            {
                <img src="data:image/png;base64,@Convert.ToBase64String(item.alPictureAlbums)" width="100">
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.alABID }) |
            @Html.ActionLink("Details", "Details", new { id = item.alABID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.alABID })
        </td>
    </tr>
}

</table>
