@model MST.Models.Band

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Create</h2>
<link href="~/Content/select2.min.css" rel="stylesheet" />
@using (Html.BeginForm("Create", "Bands", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Band</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.bBandName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.bBandName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.bBandName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">

        @*@Html.LabelFor(model => model.bArtID, "bArtID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownList("bArtID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.bArtID, "", new { @class = "text-danger" })
            </div>*@
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.bRecordID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("bRecordID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.bRecordID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.bBTypeID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("bBTypeID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.bBTypeID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.bStatus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.bStatus, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.bStatus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.bBandProfile, htmlAttributes: new { @class = "control-label col-md-2" })
        
        <div class="col-md-10">
            @Html.TextArea("bBandProfile", "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.bBandProfile, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<div class="form-group">

        @Html.LabelFor(model => model.bBandProfile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.bBandProfile, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.bBandProfile, "", new { @class = "text-danger" })
        </div>
    </div>*@
    <div class="form-group">
        @Html.LabelFor(model => model.FileUpload,"รูปศิลปิน", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.FileUpload, new { htmlAttributes = new { @class = "form-control" }, type = "file" })
            @Html.ValidationMessageFor(model => model.FileUpload, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}


@*<script>
    $(document).ready(function () {
        $(".mySelect2").select2({
            placeholder: "Select Band",
            allowClear: true,
            theme: "classic",
            ajax: {
                url: @Url.Action("Bands","bart"),
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        searchTerm: params.term
                    };
                },
                processResults: function (data, params) {
                    return {
                        results: data
                    };
                }
            }
        });
    });
    $(".mySelect2").on("change", function () {
        var bartID = $(this).val();
        $("#textBoxVal").val(bartID);


        var textBoxValueData = $("#textBoxVal").val();
        $.ajax({
            url: "@Url.Action("Bands", "bart")?searchTerm="+ textBoxValueData,
            dataType: 'json',
            type: 'post',
        });
    });
</script>*@


<script src="~/Scripts/select2.min.js"></script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
