@model MST.Models.Band

@{
    ViewBag.Title = "Detailsl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            @if (Model.bPicturebands != null)
            {
                <img src="@Url.Content(Model.bPicturebands)" style="height:300px;width:300px" />
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.bBandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bBandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bStatus)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.bBandProfile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BandType.btNameType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BandType.btNameType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Record.rRecordName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Record.rRecordName)
        </dd>

    </dl>
</div>


