@model IEnumerable<MST.Models.Music>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    audio {
        width: 235px;
    }
</style>
@*<h2>Playlist<span class="musicbar animate inline m-l-sm" style="width:20px;height:20px"></h2>*@
 @*<h2 class="font-thin m-b">
    Discover <span class="musicbar animate inline m-l-sm" style="width:20px;height:20px">*@
<h2 class="font-thin m-b">
    Discover <span class="musicbar animate inline m-l-sm" style="width:20px;height:20px">
        <span class="bar1 a1 bg-primary lter"></span>
        <span class="bar2 a2 bg-info lt"></span>
        <span class="bar3 a3 bg-success"></span>
        <span class="bar4 a4 bg-warning dk"></span>
        <span class="bar5 a5 bg-danger dker"></span>
    </span>
</h2>
                   
                        <div class="row row-sm">
                            @foreach (var item in Model)
                            {
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="bottom">
                                                <span class="badge bg-info m-l-sm m-b-sm"></span>
                                            </div>
                                            <div class="item-overlay opacity r r-2x bg-black">
                                                <div class="text-info padder m-t-sm text-sm">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o text-muted"></i>
                                                </div>
                                                <div class="center text-center m-t-n">

                                                </div>
                                                <div class="bottom padder m-b-sm">
                                                </div>
                                            </div>
                                            <a href="#"><img src="@Url.Content( item.Band.bPicturebands)" alt="" class="r r-2x img-full"></a>
                                        </div>
                                        <div class="padder-v">
                                            
                                            <a href="@Url.Action("Detailsl", "Musics", new { id = item.msMusicID })" class="text-ellipsis text-xs text-muted"> @Html.DisplayFor(modelItem => item.msMusicName)</a>
                                            <a href="#" class="text-ellipsis text-xs text-muted"> @Html.DisplayNameFor(model => model.Albums.alAlbumsName): @Html.DisplayFor(modelItem => item.Albums.alAlbumsName)</a>
                                            <a href="@Url.Action("Detailsl", "Bands", new { id = item.Band.bBandID })" class="text-ellipsis text-xs text-muted">@Html.DisplayNameFor(model => model.Band.bBandName):  @Html.DisplayFor(modelItem => item.Band.bBandName)</a>

                                            <a href="@Url.Action("Detailsl", "Authors", new { id = item.Author.atAuthorID })" class="text-ellipsis text-xs text-muted">@Html.DisplayNameFor(model => model.Author.atAuthorName):  @Html.DisplayFor(modelItem => item.Author.atAuthorName)</a>
                                            @if (item.msMusicUpload != null)
                                            {
                                                <audio controls class="add-on">
                                                    <source src="@Url.Content( item.msMusicUpload)" type="audio/mp4" width="50%" />
                                                </audio>

                                            }
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>



