@model TheMusic.Models.Band

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Band</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bBandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bBandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bBandProfile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bBandProfile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bPicturebands)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bPicturebands)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BandType.btNameType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BandType.btNameType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Record.rRecordName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Record.rRecordName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("แก้ไข", "Edit", new { id = Model.bBandID }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("ย้อนกลับ", "Index", null, new { @class = "btn btn-info" })
</p>
